<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ asset('dist/css/font-awesome.css') }}" rel="stylesheet">
		<link href="{{ asset('dist/css/bootcards-desktop.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('dist/js/jquery-2.1.4.js') }}"></script>
		<script type="text/javascript" src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('dist/js/bootcards.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
